h2{
	height: 10%;
}
h3{
	height: 8%;
}
h1, h2, h3, h4, h5, h6{
	font-family: "blippo", sans-serif;
}
p{
	font-size: 1.3rem;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
} 
 body>center>h3, 
 body>h3,
 body>h2,
 .rest>h2,
 .rest>h3{
	background-color: grey;

   box-shadow: 10px 10px 5px 0px rgba(173,173,173,1); 
 }

div>h2, div>h3{
text-shadow: 10px 20px 20px rgb(173,173,173,1);
}


:visited {
    color: red;
}
:link {
    color: green;
}

